
.container {
  height: 1220px;
  width: 1440px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(
      110deg,
      #01002a 1.92%,
      #000154 21.46%,
      rgba(0, 0, 36, 0.86) 61.2%,
      #0403a5 96.61%
    );
  margin: auto;
  display: flex;
  flex-direction: column;
}

.heading {
  color: #fff;
  font-family: Jost;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 50px;
}

.arrow {
  width: 41px;
  height: 10.789px;
  flex-shrink: 0;
  stroke-width: 5px;
  stroke: #fff;
}

.heading > span {
  color: #7a7a7a;
  font-family: Jost;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mainContent {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  width: 1440px;
  height: 1220px;
}

.column {
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0px 4px 20px 2px rgba(255, 255, 255, 0.25) inset;
}

.games {
  width: 175px;
  height: 915px;
}

.video {
  width: 597px;
  height: 918px;
}

.search {
  width: 553px;
  height: 915px;
  flex-shrink: 0;
  border-radius: 10px;
}

.searchBar {
  height: 63.3px;
  width: 493.902px;
  margin: 30px;
  flex-shrink: 0;
  border: 1px solid #fff;
  border-radius: 10px;
  background: rgba(151, 151, 151, 0.23);
  box-shadow: 0px 4px 0px 0px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  color: #7a7a7a;
  font-family: Jost;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.participants, .chatSection {
  color: white;
  cursor: pointer;
  transition: ease-in-out;
}

.participantsHeading {
  display: flex;
  width: 494px;
  height: 35px;
  margin: 30px;
  padding: 12px 0;
  align-items: flex-start;
  align-content: flex-start;
  flex-shrink: 0;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
  cursor: pointer;
  color: #FFF;
  font-size: 20px;
}

.chatHeading {
  display: flex;
  width: 494px;
  height: 35px;
  padding: 0px;
  align-items: flex-start;
  align-content: flex-start;
  flex-shrink: 0;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
  cursor: pointer;
  color: #FFF;
  font-size: 20px;
}

.participantsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.participant {
  display: flex;
  color: pink;
  justify-content: space-around;
  width: 450px;
  margin: 0px 20px;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.participantWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}

.button {
  height: 30px;
  width: 50px;
  border-radius: 20px;
  cursor: pointer;
}

.chatSection {
margin: 0px 30px;
}